#kgl-portrait {
    float: left;
    word-wrap: break-word;
    margin: 0px 50px 20px 0px;
}

#kalo-transparent-bg {
    transform: scaleX(-1);
    height: 500px;
    float: right;
    word-wrap: break-word;
    margin: 0px 0px 20px 0px;
}

#kgl-portrait::after, #kalo-transparent-bg::after {
    display: block;
    clear: both;
}

#about p {
    text-align: left;
}

#signature-block {
    display: block;
    height: max-content;
    margin: 20px 0px;
}

#signature-block::after {
    clear: both;
    display: block;
}

#kgl-sig {
    display: block;
}

@media screen and (max-width: 719px) {

    #kalo-transparent-bg {
        max-width: 50%;
        height: auto;
    }

    #kgl-portrait {
        max-width: 50%;
        height: auto;
    }

}

@media screen and (max-width: 679px) {

    #about {
      margin-left: 5%;
      width: 90%
    }

  }

@media screen and (max-width: 540px) {

    #kalo-transparent-bg, #kgl-portrait {
        display: block;
        word-wrap: normal;
        float: none;
        max-width: 80%;
        width: 80%;
        height: auto;
        margin: 0% 10%;
    }

    #kgl-sig {
        max-width: 60%;
    }

}