#resources h3 {
    margin: 50px 0px 0px
}

#resources Col {
    padding: 10%;
}

#resources #rsrc-title {
    margin-bottom: 5px;
}

#resources sub {
    margin-bottom: 100px;
}

#resources img {
    max-width: 80%;
    margin-top: 20px
}