nav {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: var(--primary-lb);
    box-shadow: 0px 6px 12px #00000020;
}

#nav-full, #nav-collapse-bar  {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease-out;
}

#nav-full {
    width: 1400px;
}

nav::after {
    clear: both;
    display: block;
}

.nav-left {
    width: max-content;
    padding: 6px 6px 6px 0px;
}

.nav-left img {
    max-height: 60px;
}

.nav-center {
    width: 100%;
    padding: 12px 100px 12px 0px;
    line-height: 1;
}

.nav-block {
    display: inline-block;
    vertical-align: top;
}

.nav-center-break {
    display: inline-block;
    width: 36px;
}

.nav-right {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 0px 12px 12px;
}

.nav-btn, .nav-btn-active {
    position: relative;
    width: max-content;
    height: 48px;
    color: var(--accent-red);
    text-align: center;
    cursor: pointer;
}

.nav-btn p, .nav-btn-active p {
    vertical-align: top;
    padding-top: 16px;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-out;
}

.nav-btn-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    border-radius: 1px;
    background: #00000000;
    transition: 0.2s ease-out;
}

.nav-btn:hover, .nav-btn:focus {
    color: var(--primary-db);
}

.nav-btn:active, .nav-btn-active {
    color: var(--primary-db);
}

.nav-btn:hover .nav-btn-line, .nav-btn:focus .nav-btn-line {
    width: 100%;
    background: var(--primary-db);
}

.nav-btn-active:hover {
    width: 100%;
    background: var(--primary-lb);
}

#fbook-icon {
    font-size: 2em;
    padding: 10px
}

#nav-collapsable {
    background: var(--primary-lg)
}

button {
    border: none;
    background: inherit;
    font-size: 2em;
    max-height: 48px;
}

button:active, button:focus {
    outline: none;
    border: none;
}

#nav-collapse-menu {
    background: inherit;
}

#nav-collapsed-ul {
    height: 0;
    display: none;
}

#nav-collapse-menu li .nav-block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    border-bottom: var(--primary-db) solid 1px;
}

#about-top-nav-dd-btn {
    border-top: var(--primary-db) solid 1px;
}

#fbook-icon-dd-nav {
    font-size: 1em;
}

#fbook-link, #nav-menu-toggle-btn {
    margin: 0px 20px;
}

@media screen and (max-width: 1399px) {

    #nav-full {
        width: 960px;
    }

}

@media screen and (max-width: 960px) {

    .nav-center {
        padding: 12px 0px 12px 0px;
    }

    #nav-full {
        width: 100%;
    }

}

/* 
Reduce this to 840 (and the next to 839) after contest is over
    - unless the contest page stays up to display the winner
*/
@media screen and (min-width: 860px) {

    #nav-collapsable {
        height: 0;
        display: none;
    }

}

@media screen and (max-width: 859px) {

    nav {
        background: var(--primary-lg);
        box-shadow: 0px 6px 12px #00000020;
    }

    #nav-full {
        height: 0;
        display: none;
    }
    
    #nav-collapse-bar .nav-btn:hover,
    #nav-collapse-bar .nav-btn:focus,
    #nav-collapse-bar .nav-btn:active,
    #nav-collapse-bar .nav-btn-active {
        color: var(--accent-red);
    }
    
    .nav-btn-active:hover {
        width: 100%;
        background: var(--primary-lg);
    }

}

@media screen and (max-width: 400px) {

    #fbook-link {
        margin: 0px 5px;
    }

    #nav-menu-toggle-btn {
        margin: 0px 10px 0px 5px
    }

    .nav-right {
        padding: 12px 0px;
    }

}